<h1>Detalle del Item</h1>
<ul>

<li>@ViewBag.Productos.ObtenerNombre()</li>
<li>@ViewBag.Productos.ObtenerCategoria()</li>
<li>@ViewBag.Productos.ObtenerAnio()</li>
<li>@ViewBag.Productos.ObtenerPrecio()</li>
<li>@ViewBag.Productos.ObtenerDescripcion()</li>

</ul>
<p>
    <a href='@Url.Action("Index","Productos")'>Volver al catálogo</a>
</p>


  
